
#popupBanner {
    position: fixed;
    top: 20px;
    right: -300px;
    width: 250px;
    padding: 15px;

    background-color: #43AF50;
    color: white;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: right 0.5s ease-in-out;
    z-index: 1000;
  }
  
#myProgress{
  position: absolute;
  top: 75px;
  left: 75%;
  width: 0%;
  height: 20px;
  border-radius: 10px;
  background-color: #0677bb;
  text-align: center;
  margin: auto;
  color: white;

  font-size-adjust: 0.6;
  padding: 2px;
}
.progressCheck{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  left: 93.5%;
  position: absolute;
}
#progress{
    position: absolute;
    top: 80px;
    left: 95%;
    font-size: 15px;
}

#myProgressFrame{
  position: absolute;
  top: 75px;
  left: 75%;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}
  .volunteerBtn{
text-align: center;
cursor:pointer;
    height: 6rem;
    background-color: white;
    border-radius: 10px;
    padding-inline-end: 1.5rem;
    padding-inline-start: 1.5rem;
    border-style: none;

  }
  .cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #C8CCD4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
  }

  .cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  
  .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
  
  #cbx:checked ~ .cbx {
    border-color: transparent;
    background: #6871F1;
    animation: jelly 1s ease;
  }
  
  #cbx:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  
  @keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  .cntr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
  }
 .navAddMenu h2{

  padding:5% ;
  font-size: clamp(1px,2vw,500px);
 }
 .navAddMenu{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  width: 40%;
  background: lightgreen;
  aspect-ratio: 1.5/1;
  background-color: #0677bb;
  border-radius: 10px;
  color: white;
  }
  .navChoice:hover{
    transform: scale(1.05);
        background-color: #05639d;

    }
  .navChoice{
    transition: all 0.15s;
    transform: none;
    width: 90%;
     

    aspect-ratio: 7/1;
    background-color: #0677bb;
    margin: 5%;
    display: flex;             /* use flexbox */
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  border: 1px solid black;
  font-size: clamp(1px,1vw,500px);
  border-radius: 10px;
  cursor: pointer;
  }
   .navAddChoices{
    justify-content: center;
    position: absolute;
    z-index: 100000;
    width: 50%;
    height: 80%;
    top:20%;
    background: lightgreen;
   /* left: 50%; */

  }
  .icon{

    transform: none;
    transition: all 0.1s;
  }
  .icon:hover{
 transform: scale(1.2);
  }
  .navSettingsList{
    justify-content: center;
    position: absolute;
    z-index: 100000;
    width: 50%;
    height: 80%;
    top:20%;
    background: lightgreen;
   left:50%;
  }
  .iconMenu{
    height: 50%;
    background-color: #af4396;
    overflow: scroll;
  }
 .inputMenu{
      height: 50%;
          background: rgb(144, 158, 238);

  }
  .customLabel{
    cursor: pointer;
  }
  #newTaskBtn{
    text-align: center;
    justify-content: center;
    align-items: center;
    color:white;
    display: flex;
    background-color: #05639d;
    width: 3rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 7rem;
    border-style: none;
     /* top: 70rem; */
    right:0.4rem;
     /* left:50rem; */
    
    cursor: pointer;
z-index: 1;
pointer-events:all;
  }


.dropdowndiv{
margin-left: 39%;

}
.dropdowndiv2{
  margin-left: 45.5%;
}

#dropdownLess{
background: url(/images/arrowup.png) 0 0 repeat;
   }
.divheader{

  width: 360px;
  height: 30px;
  background-color: #C8CCD4;
  border-radius: 10px;

  top: 10%;
  left: 10%;
  padding: 15px;

  font-size: 30px;
  z-index: 100;
  font-family: Roboto, sans-serif; 

}
#notecontainer{
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  left: 5rem;
  top: 12rem;

}
.textAreaNote{
  resize:none ;
    width: 360px;
    height: 500px;
    border-radius: 10px;

    top: 10%;
    left: 10%;
    padding: 15px;

      font-size: 30px;
      z-index: 100;
      font-family: Roboto, sans-serif; 
  transition: all 0s;
    

}
.soundButton{

  border-style: solid;
  border-radius: 20px;
  width:50px;
  height:50px;
  color:white;
  background-color:rgb(255, 255, 255);
  position: absolute;
  color: black;
  /* font-size: 50px; */
  margin-left: 2rem;
  margin-top: 2rem;
  text-align:center;
  display:inline-block;
  transition: all 0.1s;
  transform-origin: center center;

}
.hugeBtn{
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-style: solid;
  border-radius: 20px 0px 0px 20px;
  /* border-width: 5px; */
  width:400px;
  height: 100px;
  color:white;
  background-color:rgb(88, 72, 125);
  position: absolute;
  font-size: 60px;
  margin-left: 28rem;
  margin-top: 51rem;
  text-align:center;
  display:inline-block;
  transition: all 0.1s;
  transform-origin: center center;

}
#resetButton{
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-style: solid; 
  border-radius: 0px 20px 20px 0px;
  font-size: 40px;
  background-color:rgb(187, 49, 49);
  width:110px;
  position: absolute;
  margin-left: 67rem;
}
#resetButton:active{
  transform:  scale(0.97);
   transition: all 0.1s;
 }
 #resetButton:hover{
  background-color:rgb(210, 90, 90);
}
.hugeBtn:active{
 transform:  scale(0.97);
  transition: all 0.1s;
}
.hugeBtn:hover{
   background-color:rgb(210, 90, 90);
}
.todolabel{
  font-size: 50px;
  margin-left:95rem ;
  color:#ffffff;
  font-weight: 300;
  position: absolute;
  margin-top: 3rem;
}
.timerText{
  display: block;
  position:absolute;
font-size: 125px;
margin-left: 37rem;
margin-top: 20rem;
font-weight: 400;
color:rgb(255, 255, 255)

}

.createNewBtn:active{
  transform: scale(0.95);
  background-color: #C8CCD4;

}
.listDiv{
  width:500px;
  height:auto;
  font-size: 35px;
  margin: 10px;
  margin-left: 95rem;

  position: absolute;
padding: 3px;
  background-color:#C8CCD4;
  border-radius: 15px;
  border-width: 0px;
  transition: all 1s;
  left: 0px;
  position: relative;
  overflow: auto; /* Add scrollbars if content overflows */
  /* display: inline-flex; */


  display: flex;
  align-items: center;

}





.listDiv:active{
  background-color: #C8CCD4;
}
.checkboxItem{
width: 30px;
  height:4rem;
  position: absolute;
  left: 410px;



}
.containerDiv{
display: inline-table;
position: absolute;
position: absolute;
margin-top: 11rem;

}

.textLabel{
  font-size: 22px;
  overflow-y: hidden;
overflow-x: hidden; 
padding: 10px;
width: 78%;



}

#plusIcon{
font-size: larger;
vertical-align: middle

}


.button-row {
  display: flex;
  justify-content:flex-start; /* or flex-start for left */

  gap: 20px;
  margin: 1rem 0;
  width: 100%; /* This is important */
}


.createNewBtn {
  margin-left: 95rem;

  width: 300px;
  height: 60px;
  font-size: 30px;
  color: rgb(88, 88, 88);
  border-radius: 15px;
  border: none;
  transition: all 0.15s;
}

#clearListBtn {
  margin-left: 1rem;

  width: 170px;
  height: 60px;
  font-size: 24px;
  background-color: #d8a9a9;
  color: #444;
  border-radius: 15px;
  border: none;

}
.deletebn{
font-size: 20px;
  width: 30px;
  height: 30px;

  position:absolute; 
  margin-left: 0px;

  left: 450px;
vertical-align: middle;

  color:rgb(112, 54, 54);
  border-radius: 15px;
  border-width: 0px;
  transition: all 0.15s;

}


.h4s{
  margin: 7px 0 0;
  border-bottom: 1px solid #eaeaea;
  color: #9a9fa8;
  font-size: 12px;
  display: block;
  /* margin-block-start: 1.33em; */
  /* margin-block-end: 1.33em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-size: 12px;
  font-weight: bold;
}


.input-container {
  position: relative;
  width: 300px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.dropdown {
  position: absolute;
  /* top: 40px; */
  /* left: 0; */
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;

}
.selectoptions {
  padding: 10px;
  padding-top: 10px;

  cursor: pointer;
  background-color: #6bbaeb;
  border-radius: 10px;
  width:470px;
  margin: 0px 10px 10px 100rem;
  position: relative;
font-size:larger;
}
.dropdown div:hover {
  background: #f0f0f0;

}
.hidden {
  display: none;
}

